
.App-header {
  background-color: #041435; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
.button1{
  width: 350px;
  height: 80px;
}
.set-row{
  position: absolute;
  left: 0px;
}
.h2{
  font-style:chartreuse
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
